.image1{
    width: 400px;
    height: auto;
    border: 14px double aliceblue
}


.body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro-box{
    background-color: aliceblue;
    width: 70%;
}